.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
ol, p, ul {
  margin-top: 0
}
@media (min-width:400px) {
  .container {
    padding: 0
  }
}

@font-face {
    font-family: 'Rapscall';
    src: url('../fonts/rapscall-webfont.eot');
    src: url('../fonts/rapscall-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rapscall-webfont.woff2') format('woff2'),
         url('../fonts/rapscall-webfont.woff') format('woff'),
         url('../fonts/rapscall-webfont.ttf') format('truetype'),
         url('../fonts/rapscall-webfont.svg#rapscallionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.logo-font {
  font-family: Rapscall, sans-serif;
}

html {
  font-size: 62.5%
}
body {
  font-size: 1.5em
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300
}
h1 {
  font-size: 4rem;
  line-height: 1.2
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25
}
h3 {
  font-size: 3rem;
  line-height: 1.3
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem
}
h6 {
  font-size: 1.5rem;
  letter-spacing: 0
}
@media (min-width:550px) {
  h1 {
    font-size: 5rem
  }
  h2 {
    font-size: 4.2rem
  }
  h3 {
    font-size: 3.6rem
  }
  h4 {
    font-size: 3rem
  }
  h5 {
    font-size: 2.4rem
  }
  h6 {
    font-size: 1.5rem
  }
}
a {
  background-color: transparent;
  color: #313131;
  font-weight: 700;
  text-decoration: none
}
a:hover {
  text-decoration: underline
}
.button, button, input[type=button], input[type=reset], input[type=submit] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box
}
.button:focus, .button:hover, button:focus, button:hover, input[type=button]:focus, input[type=button]:hover, input[type=reset]:focus, input[type=reset]:hover, input[type=submit]:focus, input[type=submit]:hover {
  color: #333;
  border-color: #888;
  outline: 0
}
.button.button-primary, button.button-primary, input[type=button].button-primary, input[type=reset].button-primary, input[type=submit].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0
}
.button.button-primary:focus, .button.button-primary:hover, button.button-primary:focus, button.button-primary:hover, input[type=button].button-primary:focus, input[type=button].button-primary:hover, input[type=reset].button-primary:focus, input[type=reset].button-primary:hover, input[type=submit].button-primary:focus, input[type=submit].button-primary:hover {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB
}
input[type=email], input[type=text], input[type=tel], input[type=url], input[type=password], input[type=number], input[type=search], select, textarea {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box
}
input[type=email], input[type=text], input[type=tel], input[type=url], input[type=password], input[type=number], input[type=search], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px
}
input[type=email]:focus, input[type=text]:focus, input[type=tel]:focus, input[type=url]:focus, input[type=password]:focus, input[type=number]:focus, input[type=search]:focus, select:focus, textarea:focus {
  border: 1px solid #33C3F0;
  outline: 0
}
label, legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600
}
fieldset {
  padding: 0;
  border-width: 0
}
input[type=checkbox], input[type=radio] {
  display: inline
}
label>.label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: 400
}
ul {
  list-style: circle inside
}
ol {
  list-style: decimal inside
}
ol, ul {
  padding-left: 0
}
ol ol, ol ul, ul ol, ul ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%
}
.button, button, li {
  margin-bottom: 1rem
}
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px
}
.header, .window__header {
  background-color: #313131
}
pre>code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre
}
td, th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1
}
td:first-child, th:first-child {
  padding-left: 0
}
td:last-child, th:last-child {
  padding-right: 0
}
fieldset, input, select, textarea {
  margin-bottom: 1.5rem
}
blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 2.5rem
}
.u-full-width {
  width: 100%;
  box-sizing: border-box
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box
}
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1
}
.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both
}
.fa, .fa-stack {
  display: inline-block
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #313131;
  overflow-x: hidden;
  padding: 0;
}
/*.header {
  color: #fff;
  background-image: url(/assets/imgs/bg.png);
  background-position: bottom center
}*/
.header-links {
  padding: 30px 40px 0;
  font-size: 18px
}
.header-links a {
  color: #F5F5F5;
  font-weight: 300
}
.header-links__github i {
  font-size: 30px
}
.description {
  margin-top: 160px;
  margin-bottom: 90px;
  text-align: center
}
.description h1 {
  font-size: 60px;
  margin-bottom: 90px
}
.description p {
  font-size: 24px
}
.window {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  border-radius: 6px;
  max-width: 520px;
  width: 90%;
  margin: auto;
  overflow: hidden;
  bottom: -25px
}
.window--mobile {
  width: 354px;
  max-width: 70%
}
.window__header {
  padding: 12px 20px
}
.text-box, .features, .window__body, .window__header__action {
  background-color: #F5F5F5
}
.window__body img {
  width: 100%
}
.window__header__action {
  display: inline-block;
  height: 11px;
  width: 11px;
  border-radius: 11px;
  margin-right: 4px
}
.features {
  padding-top: 80px;
  overflow: hidden
}
.features>.column {
  float: right
}
.features-description {
  padding-left: 85px
}
.features-headline {
  margin: 35px 0
}
.features-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px
}
.features-list li {
  margin-bottom: 1px
}
.call-to-actions {
  margin: 160px 0
}
.call-to-actions a {
  color: #000;
  text-decoration: none
}
.text-box {
  padding: 30px;
  font-size: 22px
}
.text-box p {
  margin-bottom: 20px
}
.text-box i {
  font-size: 24px;
  margin-right: 20px
}
.text-box i::last-child {
  margin-right: 0
}
.gratitude {
  background-color: #313131;
  color: #F5F5F5;
  padding: 8px;
  font-size: 22px
}
.gratitude a {
  font-weight: 700;
  color: inherit
}
.text-left {
  text-align: left
}
.text-right {
  text-align: right
}
.fa-fw, .fa-li, .text-center {
  text-align: center
}
@media (max-width:550px) {
  .header-links a {
    width: 48%
  }
  .description {
    margin-top: 100px;
    margin-bottom: 60px
  }
  .description h1 {
    margin-bottom: 50px
  }
  .features-description {
    padding-left: 0;
    text-align: center;
    margin-bottom: 60px
  }
  .call-to-actions {
    margin: 100px 0
  }
  .call-to-actions a {
    margin-bottom: 100px
  }
  .call-to-actions a:last-child {
    margin-bottom: 0
  }
  .text-box i {
    font-size: 50px
  }
}
.fa.fa-pull-left, .fa.pull-left {
  margin-right: .3em
}

/* ADJUSTMENTS */
.text-wrap {
  max-width: 768px;
  margin: 0 auto;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.blue {
  color: #001630;
}
.red {
  color: #B93848;
}
.black {
  color: #3A3335;
}
.beige {
  color: #F7F7F2;
}
.white {
  color: #ffffff;
}
.blue-bg {
  background-color: #001630;
}
.red-bg {
  background-color: #B93848;
}
.black-bg {
  background-color: #3A3335;
}
.beige-bg {
  background-color: #F7F7F2;
}
.white-bg {
  background-color: #ffffff;
}

.img-padding {
  padding: 0 40px;
}

.waves-bg {
  background: url(../images/background.gif) 0% 0% repeat-x black;
}

.padding-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fix-box {
  padding-right: 80px;
}

.header-links a.logo-style {
  font-size: 45px;
   color: red;
   text-shadow:
   -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
     1px 1px 0 yellow;
  text-decoration: none;
}
.logo-style {
   color: red;
   text-shadow:
   -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
     1px 1px 0 yellow;
  text-decoration: none;
}

@media (max-width: 1015px) {
  .hidden-sm {
    display: none;
  }
}


a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.btn-cta {
  display: inline-block;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  background: #ff0000;
  letter-spacing: .02em;
  border: none;
  border-radius: 5px;
  padding: .8rem 1rem .9rem;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 43.75em) {
  .btn-cta {
    padding: .5rem .7rem .6rem;
    font-size: 1rem;
  }
}
.btn-cta:hover {
  background: #ff6464;
  color: #fff;
}
.btn-cta:focus, .btn-cta:active, .btn-cta:focus:active {
  background: #c60000;
  border-color: #c60000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}
.btn-cta span {
  margin: 0 5px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Radio buttons */
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: 1;
}
label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
  z-index: 2;
}
label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid red;
  border-radius: 4px;
  z-index: 1;
}
input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #F7F7F2;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  z-index: -1;
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

.selection-box {
  background: #001630;
  color: #F7F7F2;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.price-tag {
  display: block;
}

.ie-friendly {
  display: none !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ie-friendly {
    display: block !important;
  }
  .not-ie-friendly {
    display: none !important;
  }
}
